<div class="settings container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="title"><i class="fa fa-cog" aria-hidden="true"></i> Global Settings</h3>

			<uib-tabset active="active">
    		<uib-tab index="0">
					<uib-tab-heading>
						<i class="fa fa-globe" aria-hidden="true"></i> Site Info
					</uib-tab-heading>

					<h5 class="heading">General Info</h5>

					<section class="well">
						<div class="form-group">
					    <label for="name">Company Name</label>
					    <input type="text" class="form-control" name="name" placeholder="Company Name">
					  </div>

						<div class="form-group">
					    <label for="title">Site Title</label>
					    <input type="text" class="form-control" name="title" placeholder="Site Title">
					  </div>

						<div class="form-group">
					    <label for="tagline">Tagline</label>
					    <input type="text" class="form-control" name="tagline" placeholder="Tagline">
					  </div>
					</section>

					<h5 class="heading">Social Media Accounts</h5>

					<section class="well">
						<div class="row">
							<div class="col-xs-6">
								<div class="header">
									<h5 class="title">Full Color Icons</h5>
								</div>

								<ul class="list-unstyled accounts">
									<li class="item" ng-repeat="account in accounts">
      							<strong><i class="{{account.icon}} icon" aria-hidden="true"></i> {{account.title}}</strong>
    							</li>
								</ul>
							</div>

							<div class="col-xs-6">
								<div class="header">
									<h5 class="title">Social Module Title</h5>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Find Us" aria-describedby="icon-addon">
										<span class="input-group-addon" id="icon-addon"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
									</div>
								</div>

								<ul class="list-unstyled accounts">
									<li class="item" ng-repeat="account in accounts">
										<div class="input-group">
											<span ng-if="account.type == 'default'" class="input-group-addon" id="account-url">
										  	{{account.url}}/
											</span>
										  <input type="text" class="form-control" id="account-username" aria-describedby="account-url" placeholder="Screenname">
											<span ng-if="account.type == 'subdomain'" class="input-group-addon" id="account-url">
										  	.{{account.url}}
											</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</section>
				</uib-tab>

				<uib-tab index="1">
					<uib-tab-heading>
						<i class="fa fa-phone" aria-hidden="true"></i> Business Contacts
					</uib-tab-heading>

					Business Contacts
				</uib-tab>

				<uib-tab index="2">
					<uib-tab-heading>
						<i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard Info
					</uib-tab-heading>

					Dashboard Info
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</div>
